body {
  color: white;
  background-color: #4a0525;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto 20px;
  line-height: 1.5;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

th, td {
  padding: 10px;
  border: 1px solid white;
}

th {
  background: rgba(255, 255, 255, 0.2);
}

tr:hover {
  background: rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(to right, #A8D8FF, #B9E4C9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
}

a:hover {
    background-position: 0 0;
}
